bin
obj
*.suo
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
*.vspx
*.psess
packages
target
artifacts
StyleCop.Cache
node_modules
*.snk
.nuget/NuGet.exe

# Universe Folders
[Cc]onfiguration/
[Cc]aching/
[Dd]ataCommon/
[Dd]ataCommon.SQLite/
[Dd]ataProtection/
[Dd]ependencyInjection/
[Oo]ptions/
[Ll]ogging/
[Tt]esting/
[Dd]iagnostics/
[Ee]ntityFramework/
[Ff]ileSystem/
[Ww]ebSocketAbstractions/
[Hh]ttpAbstractions/
[Hh]osting/
[Hh]elios/
[Ii]dentity/
[Rr]azor/
[Rr]outing/
[Mm]vc/
[Ss]caffolding/
[Ss]ecurity/
[Ss]ignalR-Server/
[Ss]taticFiles/
[Ww]ebListener/
[Kk]estrelHttpServer/
[Ww]ebSockets/
[Ee]ntropy/
